
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,700&subset=cyrillic');

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url("~assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url("~assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("~assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("~assets/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("~assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("~assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("~assets/fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("~assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("~assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url("~assets/fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("~assets/fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  src: url("~assets/fonts/Roboto/RobotoMono-Regular.ttf");
}
