<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <p style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 48px; width: 800px; max-width: 100%; box-sizing: border-box; text-align: center; font-weight: lighter; padding: 16px;">
        We're sorry but <span style="font-weight: normal;">New Vue Application</span> doesn't work properly without JavaScript enabled. Please enable it to continue.
      </p>
    </noscript>

    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
