


// Colors
$primary-color: #0099A6;
$secondary-color: #F57F17;

$success-color: #28a745;
$error-color: #dc3545;

// Media
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 320px;

// Font
$preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
